<template>
  <div class="backdrop">
    <div class="modal" :class="{sale: theme === 'sale'}">
      <h1>{{ header  }}</h1>
      <p>{{ text }}</p>

    </div>

  </div>
</template>

<style scoped>

.modal {
  width: 400px;
  paddding: 20px;
  margin: 100px auto;
  background:white;
  border-radius: 10px;

}

.backdrop {
  top:0;
  position: fixed;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;

}
.modal h1{
  color: aqua;
  padding: 10px 10px 10px 10px;
}
.modal p{
  font-style: normal;
  margin-bottom: 20px;
}
.modal{
  padding-bottom: 5px;
}
.modal.sale{
  background: crimson;
  color: white;

}
</style>

<script>
export default {
  props: ['header','text','theme'],

}

</script>